{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Login Page{% endblock %}

{% block body %}
    <div>
        <h2>Log In</h2>
        <form action="#" method="POST" class="form">
            {% csrf_token %}
            {% render_field form.username class+="class1 class2 class3" attribute="42" otherattribute="9001" %}
            {% render_field form.password class+="class1 class2 class3" attribute="42" otherattribute="9001" %}
            Login form goes here
            <input type="submit" />
        </form>
    </div>
{% endblock %}
